// FLEX-BOX
%extend-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%extend-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%extend-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%extend-flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


// BUTTONS-AND-INPUTS
%extend-button {
  height: 48px;
  font-size: 24px;
  font-weight: 600;
  background: $color-DBlue;
  color: white;
  padding: 10px 37px;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

%extend-form-button {
  width: 245px;
  font-size: 24px;
  font-weight: 600;
  background: $color-green;
  color: white;
  padding: 14px 53px;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }

}

%extend-form-input {
  width: auto;
  color: $color-grey;
  padding: 14px 27px;
  border: 2px solid $color-green;
  border-radius: 14px;
  outline-color: lightgreen;
  background: rgba(255, 255, 255, 0.432);

  &::placeholder {
    color: $color-grey;
  }
}

// FONT
%extend-title {
  font-family: 'Rubik Spray Paint', cursive;
  font-weight: 400;
  font-size: 74px;
  color: $color-green;
}

%extend-titlee {
  font-family: 'Rubik Spray Paint', cursive;
  font-weight: 400;
  font-size: 48px;
  color: $color-DBlue;
}

%extend-text {
  font-size: 24px;
  font-weight: 600;
  color: #4F4F4F;
}